h1 {
  font-size: 48px;
  margin-top: 0;
}

.container {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ececec;
  color: #333;
}

.body {
  display: flex;
  justify-content: space-evenly;
}

.result {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.current-shape,
.number-clicked {
  height: 30%;
}

.shape-name,
.number {
  padding-top: 1.5em;
}

.shape-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 60%;
}

.shape-list ul {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
}

.shape-list div {
  margin-top: 40px;
  transition: all 1s ease;
  margin: 40px auto;
}

